.App {
}

.layout {
  height: 100vh;
}

.logo {
  width: 230px;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.menu {
  line-height: 64px;
}

.content-container {
  padding: 0 50px;
}

.content {
  height: 100%;
  background: rgb(255, 255, 255);
  padding: 24px;
  min-height: 280px;
}

.nav-breadcrumb {
  height: 70px;
}

.footer {
  height: 70px;
  text-align: center;
}