.App {
}

.layout {
    min-height: 100vh;
    background-color: rgb(240, 242, 245);
}

.header,
.footer {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.logo {
    width: 230px;
    float: left;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.menu {
    line-height: 64px;
}

.content-container {
    padding: 0 50px;
}

.footer {
    bottom: 0;
    text-align: center;
}
